/*********************
style for the OSSLRD   created by Wei Wei
*********************/

/************* start: common style for all pages; ***********************/

*{
	border: none;
	text-decoration: none;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	font-size: 14px;
}

body{
	background: #fcfcfc;
}

.clear{
	clear: both;
}

.top, .footer{
	width: 100%;
}

.top-inner, .nav, .main, .footer-inner{
	width: 1200px;
	margin: 0 auto;
}

.top{
	height: 120px;
	background: #5dcec6;
	padding-top: 50px;
	padding-left: 10px;
}

.top a{
	color: #eee;
	font-size: 28px;
	font-weight: bold;
}

.nav{
	margin-top: 0px;
	padding: 0;
}

.nav ul{
	margin-left: -40px;
}
.nav ul li a{
	float: left;
	display: block;
	width: 299px;
	background: #ffcf73;
	color: #a66d00;
	height: 38px;
	line-height: 38px;
	text-align: center;
	margin-right: 1px;
	background-image: url(images/nav-img2.png);
	background-repeat: no-repeat;
	background-position: 64px 0px;
}

.nav ul li a:hover{
	background: #a66d00;
	margin-right: 1px;
	background-image: url(images/nav-img.png);
	background-repeat: no-repeat;
	background-position: 64px 0px;
	color: #ffcf73;
}

#hover{
	background: #a66d00;
	margin-right: 1px;
	background-image: url(images/nav-img.png);
	background-repeat: no-repeat;
	background-position: 64px 0px;
	color: #ffcf73;
}
.main{
	width: 1160px;
	margin-top: 15px;
	padding: 20px;
	background: white;
}

.main img{
	float: left;
	width: 420px;
	margin-left: 30px;
	margin-right: 40px;
}

.main .contact{
	width: 100px;
}

.main p{
	margin-top: 8px;
	margin-bottom: 8px;
	width: 1100px;
	/**margin: 0 auto;**/
	line-height: 20px;
}

.main a{
	color: #A30008;
}

.main .span{
	font-style: italic;
	color: #fd000b;
}

.footer{
	margin-top: 20px;
	height: 50px;
	background:#5dcec6;
	border-top: 1px solid #1D766F;
	border-bottom: 1px solid #1D766F;
	color: #0e7870;
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer p{
	width: 1200px;
	text-align: center;
}

.footer a{
	color: #333;
	text-decoration: underline;
}

.ddv .data_detail p{
	display: block;
	color:#333;
	width: 600px;
	font-size: 11px;
	margin-bottom: 2px;
}

.ddv .data_detail a{
	display: block;
	width: 600px;
	padding: 5px;
	font-size: 11px;
	margin-bottom: 1px;
}

/************* end: common style for all pages; ***********************/




/************* start: for researcher.php; ***********************/
.btn-addrecords a{
	display: block;
	width: 299px;
	background: #fd7279;
	color: #fff;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border: #fd7279 1px solid;
}
.btn-addrecords a:hover{
	display: block;
	width: 299px;
	background: #fd7279;
	color: #a30008;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border: #fd7279 1px solid;
}
/************* end: for researcher.php; ***********************/





/************* start: for addrecords.php; ***********************/
.main input,select,textarea{
	border: 1px #ccc solid;
}

.table-left{
	width: 500px;
	float: left;
	border-right: 1px solid #ccc;
	padding-right: 40px;
}

.table-right{
	width: 530px;
	padding-left: 40px;
}

#addsubmit{
	padding: 15px;
	margin-left: 70px;
	margin-top: 40px;
	background: #fd7279;
	color: #fff;
	height: 48px;

	text-align: center;
	border: #fd7279 1px solid;
	cursor:pointer;
}

.capcha{
	width: 50%;
	height: 50%;
}
/************* end: for addrecords.php; ***********************/



/************* start: for adminlist.php; ***********************/



/************* end: for adminlist.php; ***********************/




